# Next Auth
# You can generate a new secret on the command line with:
# npx auth secret
# https://next-auth.js.org/configuration/options#secret
AUTH_SECRET="" # Added by `npx auth`. Read more: https://cli.authjs.dev

# Google Auth Secrets
GOOGLE_CLIENT_ID=""
GOOGLE_CLIENT_SECRET=""

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings
DATABASE_URL=""

GEMINI_API_KEY=""